---
import BaseHead from '../../../components/Head/BaseHead.astro';
import Nav from '../../../components/Nav.astro';
import HomeHeader from '../../../components/HomeHeader.astro';
import Card from '../../../components/Card.astro';
import Footer from '../../../components/Footer/Footer.astro'

export async function getStaticPaths({ }) {
  let allPosts = Astro.fetchContent('../../posts/*.md')
  allPosts = allPosts.sort((a, b) => new Date(a.date).valueOf() - new Date(b.date).valueOf());
  const allTags = new Set()
  allPosts.map(post => {
      post.tags && post.tags.map(tag => allTags.add(tag.toLowerCase()))
  })
  

  return Array.from(allTags).map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.tags.includes(tag))
    return {
      params: { tag },
      props: {
        pages: filteredPosts
      }
    };
  });
}

const { pages } = Astro.props
const { params } = Astro.request

let title = params.tag;
let description = ''; 
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-white text-black font-body leading-normal personality-casual">
    <Nav />
    
    <main class="py-12 lg:py-20">
      <article class="max-w-6xl mx-auto px-3">
        <HomeHeader title={title} description={description} />
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8">
          {pages.map(p => <div class="col-span-1"><Card post={p} /></div>)}
        </section>
      </article>
    </main>
    
    <Footer />
  </body>
</html>